.header_container{
    background-color: azure;
}

.nav-right{
    float: right;
}

.btn-header{
    white-space: nowrap;
    border: 2px solid #7579E7;
    border-radius: 50px;
    background: none;
    height: 40px;
    width: 100px;
}

.btn-header:hover{
    background-color: #B9FFFC;
    color: black;
}