
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Kho</title>
</head>
<body>
<h1>Danh Sách Kho</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Mã Kho</th>
        <th>Địa Chỉ</th>
        <th>Tỉnh</th>
        <th>Khu Vực</th>
        <th>Loại Kho</th>
        <th>SĐT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kho : ${danhSachKho}">
        <td th:text="${kho.id}"></td>
        <td th:text="${kho.maKho}"></td>
        <td th:text="${kho.diaChi}"></td>
        <td th:text="${kho.tinh}"></td>
        <td th:text="${kho.khuVuc}"></td>
        <td th:text="${kho.loaiKho}"></td>
        <td th:text="${kho.sdt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
