.navShip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #c8d6f5;
}

.navShip .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(21, 11, 60);
}

.navShip ul {
    display: flex;
}

.navShip ul li {
   list-style: none; 
}

.navShip ul li a {
    display: block;
    text-decoration: none;
    color: rgb(21, 11, 60);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: bold;
}

.navShip ul li a:not(.active):hover {
    background-color:#aec0fe ;
    color: rgb(21, 11, 60);
}

.navShip .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.navShip .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width: 600px) {
    .navShip .menu {
        display: flex;
    }

    .navShip {
        flex-direction: column;
        align-items: flex-start;
    }

    .navShip ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .navShip ul.open {
        display: flex;
    }

    .navShip ul li {
        width: 100%;
        text-align: center;
    }

    .navShip ul li a {
        margin: 0.2rem 0.5rem;
    }
} 